.contactBody{
    background-color:#FFFEFE;
    height:100vh;
    width:100vw;
    display:flex;
    flex-direction: row;
    column-gap: 4rem;
    align-items: center;
    justify-content: center;
}

.contactContainer{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    align-items: center;
}

.contactHeading{
    display: flex;
    flex-direction: column;
    color:#0C2938;
    font-size:3.5rem;
    font-weight: 700;
}

.contactForm{
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.contactFormName{
    width:20rem;
    border:none;
    border-radius:0.5rem;
    background-color: #FAF0F0;
    padding:1rem;
    font-size: 1.2rem;
    font-weight: 400;
    outline:none;
}

.contactFormEmail{
    
    width:20rem;
    border:none;
    border-radius:0.5rem;
    background-color: #FAF0F0;
    padding:1rem;
    font-size: 1.2rem;
    font-weight: 400;
    outline:none;
}

.contactFormMessage{
    resize:none;
    width:20rem;
    height:10rem;
    border:none;
    border-radius:0.5rem;
    background-color: #FAF0F0;
    padding:1rem;
    font-size: 1.2rem;
    font-weight: 400;
    outline:none;
}

::placeholder{
    color:#0C2938;
    font-weight: 400;
    font-size: 1.2rem; 
}

.verticalHr{
    height:85vh;
    width:0.2rem;
    background-color: #FAB6B6;
}

.contactButton{
    color:#0C2938;
    border:solid #BBE5FA;
    border-radius:0.7rem;
    background-color: #F7FBFC;
    padding:0.7rem;
    font-size: 1.25rem;
    font-weight: 600;
    width:16rem;
    transition: 0.3s;
}

.contactButton:hover{
    color:#fff;
    border-color:#0C2938;
    background-color: #0C2938;
}

.contactExtraContainer{
    display: flex;
    flex-direction: column;
    align-items:center;
    width:50rem;
}

.contactExtraModal{
    width:46rem;
    height:20rem;
    background-color:#BBE5FA;
    border-radius:1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;    
    padding:2.5rem;
}

.contactExtraModalHeading{
    font-size: 2rem;
    font-weight: 400;
    color:#0C2938;
    width:13rem;
}
.contactExtraModalDetails{
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    margin-left: 4em;
}

.contactExtraModalText{
    text-align: left;
    margin-left:0.5rem;
}

.contactExtraModalImage{
    width:35rem;
    object-fit: contain;
}

.contactExtraModalButton{
    color:#707A8A;
    border:solid #707A8A;
    border-radius:0.7rem;
    background-color: #FFFEFE;
    border-color:#707A8A;
    padding:0.7rem;
    font-size: 1rem;
    font-weight: 600;
    width:10rem;
    transition: 0.3s;
    margin-top:5rem;
}

.contactExtraModalButton:hover{
    color:#0C2938;
    border-color:#BBE5FA;
    background-color:#F7FBFC;
}

.ContactExtraText{
    text-align: left;
    width:15rem;
    padding-top:3rem;
    align-self:baseline;
    font-size: 1.3rem;
    margin-top: 2em;
}