.galleryHeader{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* align-items: center; */
    /* margin:0 2em; */
}

.galleryCaption{
    font-size: 2em;
    color:#707A8A;
    margin-left:1em;
}

.galleryButtons{
    display:flex;
    flex-direction: row;
    margin-top:2em;
    margin-left:2em;
    column-gap: 1em;
    justify-content: space-between;
    margin-right:9.5em;
}

.galleryButtonControls{
    border:0.08em rgb(198, 198, 198) solid;
    border-radius:5px;
    padding:0.4em 0.5em;
    background-color: #FFFEFE;
    outline: none;
    color:#707A8A;
}

.galleryButtonControls:hover{
    border-color: #FAB6B6;
    background-color: #FAF0F0;
    color : #FEB6B6;
}
