.mainContainer{
    display: flex;
    flex-direction: row;
    column-gap: 0.13rem;
    display: flex;
    flex-direction: column;
}

/* .mainContent{
    display: flex;
    flex-direction: row;
    overflow: hidden;
} */


.contentContainer{
    /* display: flex;
    flex-direction: column; */
    float: right;
    width:80.7vw;
    /* height:85vh; */
    overflow-y:scroll;
    margin-bottom: 1em;
    margin-top: 80px;
    scrollbar-width:initial;
}


.logo{
    width:15em;
    object-fit:contain;
}

.navItems{
    display: flex;
    flex-direction: row;
    column-gap: 2em;
}

.logoutIcon{
    width:1.8em;
    object-fit: contain;
}

.profileIcon{
    width:1.8em;
    object-fit: contain;
}

.logourIcon:hover svg, .profileIcon svg{
    fill:#FAF0F0;
}

