.tenantsContainer{
    margin:2rem;
    width:90%;
    border:0.10em solid #FAB6B6;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 2rem;
    padding:1rem 2rem;
    background-color: #FFFEFE;
}


th,td{
    text-align: left;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color:#3e444e;
}

.tenantsTable{
    table-layout: auto;
    border-collapse: collapse;
    width:100%;
}

.tenantsCol0,.tenantsCol1,.tenantsCol2,.tenantsCol4,.tenantsCol5,.tenantsCol5,.tenantsCol6,.tenantsCol7,.tenantsCol8,.tenantsCol9{
    font-weight: 600;
    font-size: 0.9em;
}

.tenantsCol0{
    width:2%;
}

.tenantsCol1{
    width:8%;
}

.tenantsCol2{
    width:8%;
}


.tenantsCol4{
    width:10%;
}

.tenantsCol5{
    width:9%;
}

.tenantsCol6{
    width:9%;
}

.tenantsCol7{
    width:13%;
}

.tenantsCol8{
    width:10%;
}

.tenantsCol9{
    width:5%;
}

.tenantFName,.tenantLName,.tenantPhone,.tenantEmail,.tenantDocs,.tenantPOI,.tenantRent{
    font-size: 0.85em;
}