body {
  margin: 0;
  font-family: montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FEFEFE;
  scrollbar-width: 10px;
  /* overflow: hidden; */
}
/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #FAF0F0; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #707A8A;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {    
  background: #FAB6B6; 
}
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
a{
  text-decoration: none;
}

.dimScreen{
  position:fixed;
  top:0px;
  left:0px;
  background-color: rgba(0, 0, 0, 0.409);
  width:100vw;
  height:100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
