body {
  margin: 0;
  font-family: montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7fbfc;
  scrollbar-width: 10px;
}
/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #FAF0F0; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #707A8A;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {    
  background: #FAB6B6; 
}
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
a{
  text-decoration: none !important;
}
